<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="?controle=PessoaController&metodo=formulário">Adicionar Pessoa</a>
    <a href="?controle=PessoaController&metodo=formulárioDeletar">Deletar Pessoa</a>
    <a href="?controle=PessoaController&metodo=listar">Lista de Pessoas</a>
    <a href="?controle=PessoaController&metodo=formulárioeditar">Editar Pessoas</a>
</body>
</html>